<div ng-controller="myCtrl">

  <h1>Listing users</h1>

  <h3 style="text-align:center;">Search User</h3>
  <form class="form-inline">
    <input ng-model="query" type="text" placeholder="Filter by name" autofocus>
  </form>


  <ul ng-repeat="user in users | filter: query | orderBy: 'email' ">
    <li style="list-style-type:none"><a href="/users/{{user.id}}">{{user.email}}</a></li>
  </ul>

  <br>

</div>
