<style>
  .successfully-saved {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 0;
  }
</style>
<div ng-controller="userShowCtrl" style="margin-left: auto;margin-right: auto;width: 50%;">
  <p id="notice" ng-model="notice" ng-init="notice='<%= notice %>'">{{notice}}</p>
  <div>
    <h1 style="display:inline-block"><%= @user.email %></h1>        
     <a id="<%= @user.id %>" ng-value="<%= am_i_following(@user) %>" class="follow" ng-click="follow($event)" href=""><%= am_i_following(@user) %></a>
  </div>
  </br>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
