<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "HEmicroblog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <style type="text/css">

      #container{
        padding: 1em;
      }

      .url{
        border: 1px solid gray;
        margin-bottom:1em;
      }

      #title{}

      .url .title {
        color: #534540;
        font-size:2em;
        text-decoration: underline;
      }

      .url:hover{
        background: #fcf5e2;
      }

      .url a {
           text-decoration: none;
           display: block;
           width: 100%;
           height: 100%;
      }
      .description{
        color: #999999;
        font-size: 17px;
        margin: 5px 0 0 12px;
        display: block;
        word-break:break-all;
      }
      .user-image-holder img{
        display:inline-block;
      }

      .project-avatar{
        margin:20px;
        border: 1px solid black;
      }

      .comment-holder{
        position:relative;
        display:inline-block;
        margin-top:12px;
      }

      .comment-counter{
        position:absolute;
        top: 1px;
        right: 10px;
        font-size: 14px;
      }

      .comment-ballon:hover{
        cursor:pointer;
      }

      header{
        width:100%;
        background-color:red;
        margin-bottom: 2em;
      }

      header .row{
        padding: 31px;
      }

      #header-links{
        margin-top:1em;
        
      }

      .button {
        background-color: white !important;
        color:black;
      }

      .button:hover{
        color:red;
      }

      .notification-div{
        width: 60%;;
        float: right;
      }
        .inner-notification-div{
          width: 100%;
          height: 100px;
          background-color: #fff;
          overflow-y: scroll;
        }

        .notification-div li {
          list-style-type: none !important;
        }
    </style>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="large-10" style="display:inline-block">
          <ul id="header-links" class="inline-list right">
            <% if user_signed_in? %>
            <li>
            <%= link_to("Logout (#{current_user.email})", destroy_user_session_path, :method => :delete, :class=>"button radius small") %>        
            </li>
             <li>
            <%= link_to('My Posts',{:controller => 'posts', :action => 'index', :id => current_user.id }, :class=>'button radius small') %>
            </li>
            <li>
            <%= link_to('Users',{:controller => 'users', :action => 'index'}, :class=>'button radius small') %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path,:class=>"button radius small")  %>
            </li>
          <% end %>
             <li>
            <%= link_to('About',{:controller => '/home', :action => 'about'}, :class=>'button radius small') %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="columns large-2">
          <h1 id="title" style="display:inline-block">HEmicroblog</h1>
        </div>
        <div class="columns large-10">
            <% if user_signed_in? %> 

            <div class="notification-div">
               <p >Notificações:</p>
              <div class="inner-notification-div">
               <ul>
                <% get_followers().each do |follow| %>
                  <li><%= follow.follower.email %> passou a seguir você</li>
                <% end %>
              </ul>
              </div>            
            </div>   
           <% end %>
        </div>         
        </div>
      </div>
    </header>
    <div id="container">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>